{% extends 'base.html' %} {% block content%}
<main>
  {%block pagination%}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; First</a>
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
  {% endblock pagination %}
  <div>
  <h1>Your Shopping List</h1>

    <ul>
      {%for item in shopping_items_list %}
      <li>{{item.shopping_items_list}}</li>
      {% endfor %}
    <form method="Post" action="{% url 'delete_all_shopping_items' %}">
      {%csrf_token%}
      <button class="button">Delete All</button>
    </form>
  </div>

  </ul>
</main>
{%endblock content%}
