{% extends 'base.html' %}

<!DOCTYPE html>
       
      {%block content%}
      
    <main class="recipe-grid">
      {% for mealplan in meal_plan
        meal_plan/list.html %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'meal_plan_detail' meals.pk %}">{{ meals.name }}</a>
        </h2>
      </div>
     
      {% endfor %}
      <div class="mealplan">
        <div class= "control">
        <a href="{% url 'meal_plan/new.html' %}"><button>Create</button></a>
      </div>
    </div>
    </main>
    {% endblock content%}
</html>
